# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*


//STUDENT-DASHBOARD

<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>JSP WEB APP</title>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<%@ page import="java.sql.*"%>
<div class="header">
	<h1>Student <span> Management </span> App</h1>
	<button onclick="toggle()">Add Student <i class="fa-solid fa-plus"></i></button>
</div>
<div class="details">
		<table>
			<thead>
				<tr>
					<th>RegNo</th>
					<th>Full Name</th>
					<th>Email Address</th>
					<th>Mobile No</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<%
					Class.forName("com.mysql.jdbc.Driver");
					String mySQLUser="root";
					String mySQLPwd="siraj";
					String serverName="jdbc:mysql://localhost:3306/projectdb";
					Connection con = DriverManager.getConnection(serverName,mySQLUser,mySQLPwd);
					
					PreparedStatement ps=con.prepareStatement(" SELECT * from register;");
					ResultSet rs=ps.executeQuery();
					int regno=0;
					String fullname="";
					String emailadd="";
					String mobile="";
					
					while(rs.next()){
						regno=rs.getInt(1);
						fullname=rs.getString(2);
						emailadd=rs.getString(3);
						mobile=rs.getString(4);
						
					%>
					<tr>
						<td><%=regno %></td>
						<td><%=fullname %></td>
						<td><%=emailadd %></td>
						<td><%=mobile %></td>
						<td>
							<a href="studentEdit.jsp?regno=<%=regno%>"><i class="fa-solid fa-pen-to-square"></i></a>
							<a href="delete.jsp?regno=<%=regno%>"><i class="fa-solid fa-trash"></i></a>
						</td>
					</tr>
					<%
				}
				%>
			</tbody>
		</table>
	</div>
<div class="popup" id="popup">
	<div class="title">
		<h2>Add Student</h2>
	</div>
	<form method="post" action="studentAdd.jsp">
		<div class="field">
			<label>Registration No.</label>
			<input type="number" name="regno" required>
		</div>
		<div class="field">
			<label>Full name</label>
			<input type="text" name="fullname" required>
		</div>
		<div class="field">
			<label>Email ID</label>
			<input type="email" name="emailadd" required>
		</div>
		<div class="field">
			<label>Mobile No</label>
			<input type="number" maxlength="10" name="mobile" required>
		</div>
		<div class="field">
			<label>Gender</label>
			<select name="gender">
				<option value="" selected>Gender</option>
				<option value="Male" selected>Male</option>
				<option value="Female" selected>Female</option>
			</select>
		</div>
		<div class="field">
			<label>Department</label>
			<select name="department">
				<option value="" selected>Department</option>
				<option value="ECE" selected>ECE</option>
				<option value="IT" selected>IT</option>
			</select>
		</div>
		<div class="textarea-field">
			<label>Address</label>
			<textarea name="address"></textarea>
		</div>
		<div class="action-field">
			<input type="submit" value="Add student">
		</div>
	</form>
</div>
<script>
	function toggle(){
		var popup=document.querySelector("#popup")
		if(popup.style.display=='none'){
			popup.style.display='block';
		}
		else{
			popup.style.display='none';
		}
	}
</script>
</body>
</html>



//ADD-STUDENT

<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<!DOCTYPE html>
<%@page import="java.sql.*" %>

<%
int regno;
String fullname, emailadd, mobile, gender, department, address;

regno=Integer.parseInt(request.getParameter("regno"));
fullname=request.getParameter("fullname");
emailadd=request.getParameter("emailadd");
mobile=request.getParameter("mobile");
gender=request.getParameter("gender");
department=request.getParameter("department");
address=request.getParameter("address");

Class.forName("com.mysql.jdbc.Driver");
Connection con=DriverManager.getConnection("jdbc:mysql://localhost:3306/projectdb", "root", "siraj");

String sql="INSERT INTO register VALUES(?,?,?,?,?,?,?);";

PreparedStatement ps=con.prepareStatement(sql);

ps.setInt(1,regno);
ps.setString(2,fullname);
ps.setString(3,emailadd);
ps.setString(4,mobile);
ps.setString(5,gender);
ps.setString(6,department);
ps.setString(7,address);

ps.executeUpdate();
ps.close();
con.close();

%>

<script>
alert('Student Registered Successfully');
</script>


<%
response.sendRedirect("index.jsp");
%>




//ADD-STUDENT

<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>JSP WEB APP</title>
<link rel="stylesheet" href="style1.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<%@ page import="java.sql.*"%>
<%
	int regno;
	regno=Integer.parseInt(request.getParameter("regno"));

	Class.forName("com.mysql.jdbc.Driver");

	Connection con=DriverManager.getConnection("jdbc:mysql://localhost:3306/projectdb","root","siraj");

	PreparedStatement ps=con.prepareStatement(" SELECT * from register where RegistrationNo=?;");
	ps.setInt(1,regno);
	ResultSet rs=ps.executeQuery();
	String fullname="";
	String emailadd="";
	String mobile="";
	String gender="";
	String department="";
	String address="";

	if(rs.next()){
	fullname=rs.getString(2);
	emailadd=rs.getString(3);
	mobile=rs.getString(4);
	gender=rs.getString(5);
	department=rs.getString(6);
	address=rs.getString(7);
}
ps.close();
con.close();
%>

<div class="header">
	<h1>Student <span> Management </span> App</h1>
</div>

<div class="popup" id="popup">
	<div class="title">
		<h2>Update Student</h2>
	</div>
	<form method="post" action="update.jsp">
		<div class="field">
			<label>Registration No.</label>
			<input type="number" value="<%=regno%>" name="regno" required readonly>
		</div>
		<div class="field">
			<label>Full name</label>
			<input type="text" value="<%=fullname %>" name="fullname" required>
		</div>
		<div class="field">
			<label>Email ID</label>
			<input type="email" value="<%=emailadd %>" name="emailadd" required>
		</div>
		<div class="field">
			<label>Mobile No</label>
			<input type="number" value="<%=mobile %>" maxlength="10" name="mobile" required>
		</div>
		<div class="field">
			<label>Gender</label>
			<input type="text" name="gender" value="<%=gender %>">
		</div>
		<div class="field">
			<label>Department</label>
			<input type="text" name="department" value="<%=department %>">
			
		</div>
		<div class="textarea-field">
			<label>Address</label>
			<textarea name="address"><%=address %></textarea>
		</div>
		<div class="action-field">
			<input type="submit" value="Update student">
		</div>
	</form>
</div>

</body>
</html>




//UPDATE-DETAILS

<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<!DOCTYPE html>
<%@page import="java.sql.*" %>

<%
int regno;
String fullname, emailadd, mobile, gender, department, address;

regno=Integer.parseInt(request.getParameter("regno"));
fullname=request.getParameter("fullname");
emailadd=request.getParameter("emailadd");
mobile=request.getParameter("mobile");
gender=request.getParameter("gender");
department=request.getParameter("department");
address=request.getParameter("address");

Class.forName("com.mysql.jdbc.Driver");
Connection con=DriverManager.getConnection("jdbc:mysql://localhost:3306/projectdb", "root", "siraj");

String sql="UPDATE register SET Fullname=?, EmailAdd=?, MobileNo=?, Gender=?, Department=?, Address=? WHERE RegistrationNo=?;";

PreparedStatement ps=con.prepareStatement(sql);

ps.setInt(7,regno);
ps.setString(1,fullname);
ps.setString(2,emailadd);
ps.setString(3,mobile);
ps.setString(4,gender);
ps.setString(5,department);
ps.setString(6,address);

ps.executeUpdate();
ps.close();
con.close();

%>

<script>
alert("Student Updated Successfully");
<%
response.sendRedirect("index.jsp");
%>
</script>





//DELETE

<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<!DOCTYPE html>
<%@page import="java.sql.*" %>

<%
int regno;

regno=Integer.parseInt(request.getParameter("regno"));


Class.forName("com.mysql.jdbc.Driver");
Connection con=DriverManager.getConnection("jdbc:mysql://localhost:3306/projectdb", "root", "siraj");

String sql="DELETE FROM register WHERE RegistrationNo=?;";

PreparedStatement ps=con.prepareStatement(sql);

ps.setInt(1,regno);

ps.executeUpdate();
ps.close();
con.close();

%>

<script>
alert('Deleted Successfully');
<%
response.sendRedirect("index.jsp");
%>
</script>





//STYLING

@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Lemon');

*{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
	font-family:Poppins;
}

.header{
	width:100%;
	height:60px;
	background:white;
	box-shadow:0px 0px 10px black;
	padding:0px 5%;
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1{
	font-size:22px;
	
}

.header h1 span{
	color:darkblue;
}

.header button{
	padding:10px 20px;
	background:darkblue;
	color:white;
	outline:none;
	border:none;
	border-radius:5px;
	font-size:15px;
	cursor:pointer;
	
}



.popup{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	width:650px;
	height:400px;
	background:white;
	box-shadow:0px 0px 10px black;
	border-radius:5px;
	display:none;
}

.popup .title{
	width:100%;
	height:40px;
	text-align:center;
	color:white;
	background:darkblue;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.popup form{
	width:100%;
	padding:15px;
	display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    flex-wrap:wrap;
}

.popup form .field{
	width:30%;
}

.popup form .field label{
	font-weight:bold;
	padding-bottom:10px;
}

.popup form .field input,
.popup form .field select{
	width:100%;
	padding:10px;
	outline:none;
	border:2px solid silver;
	border-radius:5px;
}

.popup form .textarea-field{
	width:95%;
	height:auto;
}

.popup form .textarea-field label{
	font-weight:bold;
}
.popup form .textarea-field textarea{
	height:100%;
	width:100%;
	padding:10px;
	outline:none;
	border:2px solid silver;
	border-radius:5px;
}

.popup form input[type="submit"]{
	padding:15px 25px;
	background: darkblue;
	color: white;
	font-size:15px;
	border:none;
	border-radius:5px;
	cursor:pointer;
	
}

.details{
	width:60%;
	margin:20px auto;
	padding:15px;
	background:whitesmoke;
	
}

.details table{
	width:100%;
	height:100%;
}

.details table thead{
	background:darkblue;
	color:white;

}

.details table tbody{
	background:white;

}

.details table tr,
.details table td, 
.details table th 
{
	padding:0px;

}

.details table tr{
	border:2px solid silver;
}



//STYLING2

@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Lemon');

*{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
	font-family:Poppins;
}

.header{
	width:100%;
	height:60px;
	background:white;
	box-shadow:0px 0px 10px black;
	padding:0px 5%;
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1{
	font-size:22px;
	
}

.header h1 span{
	color:royalblue;
}


.popup{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:650px;
	height:400px;
	background:white;
	box-shadow:0px 0px 10px black;
	border-radius:5px;
}

.popup .title{
	width:100%;
	height:40px;
	text-align:center;
	color:white;
	background:royalblue;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.popup form{
	width:100%;
	padding:15px;
	display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    flex-wrap:wrap;
}

.popup form .field{
	width:30%;
}

.popup form .field label{
	font-weight:bold;
	padding-bottom:10px;
}

.popup form .field input,
.popup form .field select{
	width:100%;
	padding:10px;
	outline:none;
	border:2px solid silver;
	border-radius:5px;
}

.popup form .textarea-field{
	width:95%;
	height:auto;
}

.popup form .textarea-field label{
	font-weight:bold;
}
.popup form .textarea-field textarea{
	height:100%;
	width:100%;
	padding:10px;
	outline:none;
	border:2px solid silver;
	border-radius:5px;
}

.popup form input[type="submit"]{
	padding:15px 25px;
	background: royalblue;
	color: white;
	font-size:15px;
	border:none;
	border-radius:5px;
	cursor:pointer;
	
}
